﻿ul {
    list-style: none;
}

.todohead:hover{
    background-color: #808080;
}

.complete{
    background-color: #6bff2c;
    opacity:0.6;
}

.complete:hover{
    opacity:1;
}

.incomplete{
    background-color: #f63434;
    opacity:0.6;
}

.incomplete:hover{
    opacity:1;
}
